#body-override {
    background-color: #122C3D ;
}

#splashImage {
    height: 200px; 
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

#topbar {
    background-color: #122C3D;
    height: 70px;
    width: 100%;
    padding-top: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#topbar a {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: gainsboro;
    font-size: 30px;
    margin: 0;
    padding: 15px 0;
    display: none;
}

#topbar img {
    height: 50px; 
    width: 50px;
    display: none;
}

#mainSelector {
    background-color: #252528;
    margin: 80px 20px;
    margin-bottom: 0;
    text-align: center;
    display: none;
    height: 250px;
    box-shadow: 2px 2px 5px #888888;
}

#mainSelector h1 {
   font-family: 'Montserrat', sans-serif; 
   color: gainsboro;
}

#mainSelector .brandButton {
    margin: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300; 
    background-color: #122C3D;
    color: gainsboro; 
    border-color: gainsboro;
    width: 100px;
}

#myCarousel {
    display: none;
}

.camera-item {
    height: 450px;
    margin: 0 120px;
}

.camera-item img {
    display: block; 
    margin: 20px auto; 
    height: 250px !important; 
    width: auto;
}

.camera-item h1 {
    font-weight: 500;
    font-size: 30px !important;
}

.camera-item h3 {
    font-weight: 300;
    font-size: 20px;
    color: gainsboro;
}

#cameraSubmit {
    display: none;
    margin: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500; 
    background-color: #122C3D;
    color: gainsboro; 
    border-color: gainsboro;
    width: 200px; 
    height: 50px; 
}

/* SIDEBAR */ 
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  padding-top: 70px;
  overflow-y: auto;
  background: #252528;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: gainsboro; 
  box-shadow: 2px 2px 5px #888888;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-top: 5px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#totalDisplay {
    position: absolute; 
    bottom: 0px; 
    width: 100%;
    padding: 10px;
    background-color: #171718;
}

#totalDisplay h1{
    font-size: 25px; 
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#productTable {
    font-family: 'Montserrat', sans-serif;
}

#productTable td {
    vertical-align: middle;
}

#productTable img {
    height: 40px;
    width: auto;
}